<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layouts/main">
<head>
  <title>Title</title>
</head>
<body>
<main layout:fragment="content">
  <a th:href="@{/login}" class="button">login</a><br/>
  <a th:href="@{/admin/customer/list}" class="button">customer</a>
  <form sec:authorize="isAuthenticated()" name="form" th:action="@{/logout}" method="post">
    <a href="javascript:;" class="button" onclick="document.getElementsByName('form')[0].submit();">Logout</a>
  </form>
  <h2 sec:authorize="isAuthenticated()">Welcome: <span sec:authentication="name"></span></h2>
</main>
</body>
</html>